*
!.git
!AUTHORS
!CMakeLists.txt
!CONTRIBUTING.md
!CONTRIBUTORS
!Doxyfile
!HACKING.md
!LICENSE
!LICENSE-MIT
!README.md
!SECURITY.md
!simdjson.pc.in
!Makefile
!amalgamate.py
!benchmark
!cmake
!dependencies
!doc
!examples
!extra
!fuzz
!include
!jsonchecker
!jsonexamples
!scripts
!singleheader
!src
!style
!tests
!tools
!windows
